@using Pfs.Types

@namespace PfsUI.Components

@if (_viewReport == null)
{
    <p><em>Loading...</em></p>
}
else if ( _viewReport.Count == 0)
{
    <p><em>Nothing found!</em></p>
}
else
{
    <MudTable T="ViewReportWeightData" Items="@_viewReport" Hover="true" SortLabel="Sort By" FixedHeader="true" Height="580px" OnRowClick="@(args => OnRowClicked(args))" >
        <ColGroup>
            <col style="width: 5%;" />      @* Symbol *@
            @if (_viewCompanyNameColumn)
            {
            <col style="width: 20%;" />     @* Company *@
            }
            @if (_showTargetWeightTab)
            {
            <col style="width: 7%;" />      @* Target% *@
            }
            <col style="width: 7%;" />      @* Current% *@
            <col style="width: 5%;" />      @* AvrgTime *@ 
            <col style="width: 5%;" />      @* Growth *@ 
            <col style="width: 5%;" />      @* Total Div *@ 
            <col style="width: 5%;" />      @* Taken x Inv*@ 
            <col style="width: 5%;" />      @* Taken x Val *@ 
        </ColGroup>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<ViewReportWeightData, object>(x => x.d.StockMeta.symbol)">Symbol</MudTableSortLabel></MudTh>
            @if (_viewCompanyNameColumn)
            {
                <MudTh><MudTableSortLabel SortBy="new Func<ViewReportWeightData, object>(x => x.d.StockMeta.name)">@_headerTextCompany</MudTableSortLabel></MudTh>
            }

            @if (_showTargetWeightTab)
            {
                @* % Target *@
                <MudTh>@_headerTextPlanned</MudTh>
            }
            @* % Current *@
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<ViewReportWeightData, object>(x => x.d.CurrentP)">@_headerTextCurrent</MudTableSortLabel></MudTh>

            @* AvrgTime *@
            <MudTh><MudTableSortLabel SortBy="new Func<ViewReportWeightData, object>(x => x.d.AvrgTimeAsMonths)">AvrgTime</MudTableSortLabel></MudTh>

            @* Growth *@
            <MudTh><MudTableSortLabel SortBy="new Func<ViewReportWeightData, object>(x => x.d.RCTotalHold.HcGrowthP)">Growth</MudTableSortLabel></MudTh>

            @* Total Div *@
            <MudTh><MudTableSortLabel SortBy="new Func<ViewReportWeightData, object>(x => x.d.RRTotalDivident?.ViewHcDivP)">Divident</MudTableSortLabel></MudTh>

            @* Taken x Inv *@ 
            <MudTh><MudTableSortLabel SortBy="new Func<ViewReportWeightData, object>(x => x.d.HcTakenAgainstInv)">Taken x Inv</MudTableSortLabel></MudTh>

            @* Taken x Val *@ 
            <MudTh><MudTableSortLabel SortBy="new Func<ViewReportWeightData, object>(x => x.d.HcTakenAgainstVal)">Taken x Val</MudTableSortLabel></MudTh>

        </HeaderContent>
        <RowTemplate>
            @* Symbol *@
            <MudTd><MudButton Variant="Variant.Filled" FullWidth=false Color="Color.Secondary" Size="Size.Small" @onclick="@(() => ViewStockRequestedAsync(@context.d.StockMeta.GetSRef()))" >$@context.d.StockMeta.symbol</MudButton></MudTd>
            @if (_viewCompanyNameColumn)
            {
            @* Company *@
                <MudTd>
                    <MudTooltip Text="@context.SymbolToolTip" Inline="false" Placement="Placement.Right">
                    @context.d.StockMeta.name
                </MudTooltip>
                </MudTd>
            }

            @if (_showTargetWeightTab)
            {
            @* Target% *@
            <MudTd>
            <MudSelect T="string" Value="@context.d.TargetP" Label="" ValueChanged="@((string newValue) => OnTargetWeightChanged(context, newValue))">
            @foreach (string item in _weights)
            {
                @if ( string.IsNullOrEmpty(item) == false)
                {
                    <MudSelectItem T="string" Value="item">@item</MudSelectItem>
                }
            }
            </MudSelect>
            </MudTd>
            }

            @* Current% *@
            <MudTd>@context.d.CurrentP.ToP()</MudTd>

            @* AvrgTime *@
            <MudTd>@context.AvrgTime</MudTd>

            @* Growth *@ 
            <MudTd>
            @if ( context.d.RCTotalHold.HcGrowthP < 0 )
            {
                <span style="color:red"><b>@context.d.RCTotalHold.HcGrowthP%&nbsp;</b></span>
            }
            else
            {
                <b>+@context.d.RCTotalHold.HcGrowthP%&nbsp;</b>
            }
            </MudTd>

            @* Total Div *@
            <MudTd>
                @if (context.d.RRTotalDivident.HcDiv > 0 )
                {
                    @(context.d.RRTotalDivident.ViewHcDivP + "%")
                }
            </MudTd>

            @* Taken x Inv *@
            <MudTd>
                @if (context.d.HcTakenAgainstInv < -0.1m || context.d.HcTakenAgainstInv > 0.1m)
                {
                    @(context.d.HcTakenAgainstInv.To0() + "x")
                }
            </MudTd>

            @* Taken x Val *@
            <MudTd>
                @if (context.d.HcTakenAgainstVal < -0.1m || context.d.HcTakenAgainstVal > 0.1m)
                {
                    @(context.d.HcTakenAgainstVal.To0() + "x")
                }
            </MudTd>

        </RowTemplate>

        <ChildRowContent>
            @if (context.ShowDetails == true)
            {
                <MudTr>
                    <td colspan="10">
                        <!-- !!!NOTE!!! <= This is amount of columns on table that popdown extens to -->

                        <MudTable T="ViewSubData" Items="@context.subs" Hover="true" FixedHeader="true">
                            <ColGroup>
                                <col style="width: 6%;" />      @* PfName *@
                                <col style="width: 10%;" />     @* Purhace Date *@
                                <col style="width: 10%;" />     @* Sold Date *@
                                <col style="width: 7%;" />      @* Owning Months *@
                                <col style="width: 7%;" />      @* Units *@
                                <col style="width: 7%;" />      @* Current *@
                                <col style="width: 7%;" />      @* Buy Price *@
                                <col style="width: 7%;" />      @* Sold Price *@
                                <col style="width: 10%;" />     @* Invested *@
                                <col style="width: 10%;" />     @* Growth *@
                                <col style="width: 15%;" />     @* Div *@
                            </ColGroup>
                            <HeaderContent>
                                <MudTh>Portfolio</MudTh>
                                <MudTh>Purhaced</MudTh>
                                <MudTh>Sold</MudTh>
                                <MudTh>Owned</MudTh>
                                <MudTh>Units</MudTh>
                                <MudTh>Current</MudTh>
                                <MudTh>Buy Price</MudTh>
                                <MudTh>Sold</MudTh>
                                <MudTh>Invested</MudTh>
                                <MudTh>Growth</MudTh>
                                <MudTh>Div</MudTh>
                            </HeaderContent>
                            <RowTemplate Context="dropdown">
                                <MudTd>@dropdown.Portfolio</MudTd>
                                <MudTd>
                                    @if (dropdown.SoldDate.HasValue == false )
                                    {
                                        <b>@dropdown.PurhaceDate.ToYMD()</b>
                                    }
                                    else
                                    {
                                        @dropdown.PurhaceDate.ToYMD()
                                    }
                                </MudTd>
                                <MudTd>@dropdown.SoldDate?.ToYMD()</MudTd>
                                <MudTd><RCellPeriod From="@dropdown.PurhaceDate" To="@dropdown.SoldDate" /></MudTd>
                                <MudTd>
                                    @if (dropdown.Units != dropdown.OriginalUnits)
                                    {
                                        @(dropdown.Units.To() + "/" + @dropdown.OriginalUnits.To())
                                    }
                                    else
                                    {
                                        @dropdown.Units.To()
                                    }
                                </MudTd>
                                <MudTd>
                                    @if ( dropdown.CurrentP > 0 )
                                    {
                                        @dropdown.CurrentP.ToP()
                                    }
                                </MudTd>
                                <MudTd>@dropdown.McBuyPrice.To00()@UiF.Curr(context.d.RCEod.MarketCurrency)</MudTd>
                                <MudTd>
                                    @if (dropdown.McSoldPrice.HasValue)
                                    {
                                        @dropdown.McSoldPrice.Value.To00()@UiF.Curr(context.d.RCEod.MarketCurrency)
                                    }
                                </MudTd>

                                @* Invested (nnnE) *@
                                <MudTd>
                                    @if (dropdown.SoldDate.HasValue == false)
                                    {
                                        <b>@dropdown.HcInvested.To()@_HC</b>
                                    }
                                    else
                                    {
                                        @dropdown.HcInvested.To()@_HC
                                    }
                                </MudTd>

                                @* Growth *@
                                <MudTd>
                                    @if (dropdown.HcGrowth < 0)
                                    {
                                        <span style="color:red">@dropdown.HcGrowth.To()@_HC&nbsp;</span>
                                    }
                                    else
                                    {
                                        @("+" + dropdown.HcGrowth.To() + _HC)
                                    }    
                                </MudTd>

                                <MudTd>
                                    @if (dropdown.HcDividents > 0 )
                                    {
                                        @(dropdown.HcDividents.To() +_HC)
                                    }
                                </MudTd>

                            </RowTemplate>
                        </MudTable>
                    </td>
                </MudTr>
            }
        </ChildRowContent>
    </MudTable>
}
