@using Pfs.Client
@using Pfs.Types
@namespace PfsUI.Components

<MudDialog>
    <TitleContent>

        <MudToggleIconButton Toggled="@_fullscreen" ToggledChanged="OnFullScreenChanged"
                        Icon="@Icons.Material.Filled.Fullscreen" Color="@Color.Error" 
                        ToggledIcon="@Icons.Material.Filled.Fullscreen" ToggledColor="@Color.Success" />

        @Market @Symbol

    </TitleContent>

    <DialogContent>

        <MudTabs Elevation="4" Rounded="true" Centered="true" Color="@Color.Primary" ActivePanelIndexChanged="OnTabChanged">

            <MudTabPanel Text="Name" >
                <MudPaper Class="pa-4 ma-2" Outlined="false">
                    Allows to edit company name and/or ISIN codes for selected stock.
                </MudPaper>
                <MudDatePicker Label="Date" @bind-Date="_date" MaxDate="@(DateTime.Now)" PickerVariant="PickerVariant.Dialog" />
                <MudTextField @bind-Value="_editCompany" Variant="Variant.Outlined" Label="company name" />
                <MudTextField @bind-Value="_editISIN" Variant="Variant.Outlined" Label="optional ISIN" />
            </MudTabPanel>

            <MudTabPanel Text="Market/Symbol">
                <MudPaper Class="pa-4 ma-2" Outlined="false">
                    Allows to change market and/or symbol for stock.
                </MudPaper>
                <MudDatePicker Label="Date" @bind-Date="_date" MaxDate="@(DateTime.Now)" PickerVariant="PickerVariant.Dialog" />
                <MudSelect T="MarketId" Label="Change market?" Required @bind-Value="_editMarket">
                    @foreach (MarketMeta market in _activeMarkets)
                    {
                        <MudSelectItem T="MarketId" Value="@market.ID">@market.ID</MudSelectItem>
                    }
                </MudSelect>
                <MudTextField @bind-Value="_editSymbol" Label="Change symbol?" Variant="Variant.Outlined" />
                <MudTextField @bind-Value="_editComment" Variant="Variant.Outlined" Label="Reason for change" />
            </MudTabPanel>

            @if (_holdings)
            {
                <MudTabPanel Text="Split">
                    <MudPaper Class="pa-4 ma-2" Outlined="false">
                        Split ratio is 'from' 'to new amount' so ex 1:3 when share amount reduced to increase share price
                    </MudPaper>
                    <MudDatePicker Label="Date" @bind-Date="_date" MaxDate="@(DateTime.Now)" PickerVariant="PickerVariant.Dialog" />
                    <div class="d-flex align-items-center mb-2">
                        <MudNumericField T="int" @bind-Value="_splitFrom" Min="1" Label="From" Style="width: 80px;" />
                        <span class="mx-2">:</span>
                        <MudNumericField T="int" @bind-Value="_splitTo" Min="1" Label="To" Style="width: 80px;" />
                    </div>
                    <MudTextField @bind-Value="_editComment" Variant="Variant.Outlined" Label="Reason for split?" />
                </MudTabPanel>
            }

            <MudTabPanel Text="Close">
                <MudPaper Class="pa-4 ma-2" Outlined="false">
                    Carefull! Closes stock permanently. Example someone M&A it off markets.
                </MudPaper>
                <MudDatePicker Label="Date" @bind-Date="_date" MaxDate="@(DateTime.Now)" PickerVariant="PickerVariant.Dialog" />
                <MudTextField @bind-Value="_editComment" Variant="Variant.Outlined" Label="Reason for closing?" />
            </MudTabPanel>

        </MudTabs>

    </DialogContent>

    <DialogActions>

        <MudButton OnClick="DlgCancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="OnBtnSaveAsync">@_btnSave</MudButton>

    </DialogActions>
</MudDialog>
